:root {
    --c-blue-1: #b2cfff;
    --c-blue-2: #151935;
    --c-gray-1: #77767c;
    --c-gray-2: #e2e2e2;
    --c-white: #fff3ff;
}

body {
    color: var(--c-blue-2);
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: var(--c-blue-1);
    display: flex;
}

footer {
    height: 5vh;
    background-color: var(--c-blue-1);
}

.icon-placeholder {
    height: 100%;
    width: 10%;
    background-color: var(--c-blue-2);
    text-align: center;
    color: var(--c-white);
}

.main-section {
    height: 80vh;
    display: flex;
}


