:root {
    --c-blue-1: #b2cfff;
    --c-blue-2: #151935;
    --c-gray-1: #77767c;
    --c-gray-2: #e2e2e2;
    --c-white: #fff3ff;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--c-blue-2);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: var(--c-blue-1);
    display: flex;
}

footer {
    height: 5vh;
    background-color: var(--c-blue-1);
}

.icon-placeholder {
    height: 100%;
    width: 10%;
    background-color: var(--c-blue-2);
    text-align: center;
    color: var(--c-white);
}

.main-section {
    height: 85vh;
    display: flex;
}

.dashboard {
    width: fit-content;
    background-color: var(--c-gray-2);
}

.book-display {
    padding: 16px;
    flex: 1;
    display: grid;
    grid-template: 200px 200px 200px / 200px 200px;
    row-gap: 16px;
    column-gap: 16px;
    overflow: scroll;
}

.card {
    height: 200px;
    width: 200px;
    background-color: var(--c-blue-1);
    border-radius: 30px;
    padding: 16px;
    overflow: hidden;
}

.title {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 16px;
}

.card>button {

}

