:root {
    --c-blue-1: #b2cfff;
    --c-blue-2: #151935;
    --c-gray-1: #77767c;
    --c-gray-2: #e2e2e2;
    --c-white: #fff3ff;

    --s-16px: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Open sans", sans-serif, system-ui;
    color: var(--c-blue-2);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: var(--c-blue-1);
    padding: var(--s-16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 5vh;
    text-align: center;
    background-color: var(--c-blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    height: 85vh;
    background-color: var(--c-white);
    display: flex;
}

.dashboard {
    width: 250px;
    background-color: var(--c-gray-1);
    padding: var(--s-16px);
}

legend {
    font-size: large;
    color: var(--c-white);
}

label {
    width: 60px;
    display: inline-block;
}

fieldset>button {
    font: inherit;
    background-color: var(--c-gray-2);
    border-radius: 8px;
    margin-top: 16px;
}

fieldset>button:hover {
    background-color: var(--c-blue-1);
}

.book-display {
    background-color: var(--c-gray-2);
    flex: 1;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    justify-items: center;
    row-gap: 16px;
    column-gap: 16px;
    padding: var(--s-16px);
    overflow: scroll;
}

.card {
    height: 300px;
    width: 300px;
    background-color: var(--c-white);
    border-radius: var(--s-16px);
    border-left: 16px solid var(--c-blue-1);
    box-shadow: 1px 2px 5px var(--c-gray-1);
    padding: var(--s-16px);
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: var(--s-16px);
}

.card>button {
    font: inherit;
    background-color: var(--c-blue-1);
    border-radius: 8px;
}

.card>button:hover {
    background-color: var(--c-gray-1);
}

.card>.status-btn {
    position: absolute;
    left: var(--s-16px);
    bottom: var(--s-16px);
}

.card>.remove-btn {
    position: absolute;
    right: var(--s-16px);
    bottom: var(--s-16px);
}



